name: ci

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build Angular using the "build" stage of your Dockerfile
      - name: Build Angular (build stage)
        uses: docker/build-push-action@v6
        with:
          target: build        # <--- uses your "build" stage
          load: true
          tags: tempbuild      # dummy tag for testing build layer

      # Build & push final image (production Nginx stage)
      - name: Build and push final production image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          target: final        # <--- uses your "final" stage
          tags: ${{ vars.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
